{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body style="margin: 0;">
    <section id="section01">
 
        <div class="title">
            <p>ランダム青空文庫リーダー</p>
        </div>
   
        <a class="button" id="button1" href="#section02">読む</a>
    </section>
    <section id="section02">
        <div class="bookTitle">
            {{title}}
        </div>
    	<div class="main_text">
            {% autoescape off %} {{text}} {% endautoescape %}
        </div>
        <a class="button" id="reload">次の本</a>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jQuery.js' %}"></script>
</body>
</html>
