{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body style="margin: 0;">
    <section id="section01">
 
        <div class="title">
            <p>ランダムな言葉</p>
        </div>
        <div class="preface">
            <p>例えば、それはなんでしょうか。</p>
            <p>意味の中に潜るダイバーの目には</p>
            <p>いったい何が映るのでしょうか。</p>
            <p>混沌に見出した光の面影は</p>
            <p>帆船を夜空へと導きます。</p>
        </div>
        <a class="scroll" href="#section02"></a>
    </section>
    <section id="section02">
    	{{text}}
    </section>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jQuery.js' %}"></script>
</body>
</html>
