@import url(https://fonts.googleapis.com/earlyaccess/hannari.css)
body{
    margin-top: 0px;
    oadding: 0px;
}


#section01{
    display: block;
    height:100vh;
    width: 100vw;
    background-image: url(../img/top-background.JPG);

}

.title{
    color: white;
    font-family:Hannari;
    font-size: 115px;
    width:80%;
    padding-top: 4%;
    padding-left: 4%;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.preface{
    color: white;
    font-family: hannari;
    font-size: 27px;
    margin-left: 5%;
    margin-top: 2%;
}

p{
    margin-top: 0;
    margin-bottom: 0.7%;
}


.scroll{
    position: absolute;
    height:70px;
    width: 70px;
    left:50%;
    bottom:10%;
    margin:6px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing:border-box;
}

.scroll:hover{
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

@-webkit-keyframes sdb{
	0%{
		-webkit-transform: rotate(-45ged) translate(0,0);	
	}
	20%{
		-webkit-transform: rotate(-45deg) translate(-10px,10px);	
	}
	40%{
		-webkit-transform: rotate(-45deg) translate(0,0);	
	}
}

@keyframes sdb{
	0%{
		transform: rotate(-45deg) translate(0,0);	
	}
	20%{
		transform: rotate(-45deg) translate(-10px,10px);	
	}
	40%{
		transform: rotate(-45deg) translate(0,0);	
	}			
}

#section02{
    width:100vw;
    background-color: #f8f4e6;
}

.bookTitle{
    font-size: 40px;
    font-family: hannnari;
    padding-top:7%;
    margin-left: 5%;
}

.main_text{
    width: 80vw;
    background-color: #f8f4e6;
    margin-left: 5%;
    margin-right: 15%;
    font-family: hannari;
    font-size: 30px;

}